
<md-input-container class="md-icon-float md-block">

  <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
  <input mdInput placeholder="Name" value="">
</md-input-container>
<md-input-container class="md-icon-float md-block">
  <input mdInput placeholder="Category" value="">
</md-input-container>
<md-input-container class="md-icon-float md-block">
  <input mdInput placeholder="Location" value="">
</md-input-container>
<md-input-container class="md-icon-float md-block">
  <input mdInput placeholder="Description" value="">
</md-input-container>

<p>
  postjob works!
</p>
