
<i class="material-icons">list</i>
<select>
  <option value="selectCategory" selected>Select Category</option>
  <option value="softwareDevelopment">Software Development</option>
  <option value="education">Education</option>
  <option value="medicalScience">Medical Science</option>
  <option value="agriculture">Agriculture</option>
</select>

<i class="material-icons">location_on</i>
<md-input-container class="md-icon-float md-block">

  <input mdInput placeholder="Location" value="">
</md-input-container>
<i class="material-icons">attach_money</i>
<md-input-container class="md-icon-float md-block">
  <input mdInput placeholder="Minimum Fee" value="">

</md-input-container>



<i class="material-icons">add_circle</i>
<a [routerLink]="['jobpost']">Post</a>

<router-outlet></router-outlet>


