<md-toolbar color="primary">
  <i class="material-icons">home</i>
  <span>SwiftHire</span>
  <span class="spacer"></span>

  <a *ngIf="auth.isAuthenticated()" md-mini-fab [routerLink]="['profile']"><md-card><img md-card-avatar src="{{myImage}}"></md-card></a>

  <button md-icon-button [mdMenuTriggerFor]="menu2">
    <md-icon>menu</md-icon>
  </button>


  <md-menu #menu2="mdMenu">
    <button md-menu-item  (click)="auth.login()" *ngIf="!auth.isAuthenticated()">
      <md-icon>fingerprint</md-icon>
      <span>Login</span>
    </button>
    <button md-menu-item *ngIf="auth.isAuthenticated()" (click)="auth.logout()">
      <md-icon>fingerprint</md-icon>
      <span>Logout</span>

    </button>


  </md-menu>
</md-toolbar>

<main class="container">
  <router-outlet></router-outlet>
</main>
