<md-toolbar color="primary">
  <a><i class="material-icons">home</i></a>
  <!--<span>SwiftHire</span>-->
  <span class="spacer"></span>

  <!--<a *ngIf="auth.isAuthenticated()" md-mini-fab [routerLink]="['profile']"><md-card><img md-card-avatar src="{{auth.getUser().picture}}"></md-card></a>-->
  <md-card  *ngIf="auth.isAuthenticated()"><img md-card-avatar src={{auth.getUser().picture}}></md-card>
  <button md-icon-button [mdMenuTriggerFor]="menu2">
    <md-icon>more_vert</md-icon>
  </button>


  <md-menu #menu2="mdMenu">
    <button md-menu-item  (click)="auth.login()" *ngIf="!auth.isAuthenticated()">
      <md-icon>fingerprint</md-icon>
      <span>Login</span>
    </button>
    <button md-menu-item *ngIf="auth.isAuthenticated()" (click)="auth.logout()">
      <md-icon>fingerprint</md-icon>
      <span>Logout</span>

    </button>


  </md-menu>
</md-toolbar>


<main class="container">
  <router-outlet></router-outlet>
</main>
