<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Add Job</h2>
    </div>
  </md-toolbar>
  <md-input-container class="md-icon-float md-block">
    <input mdInput placeholder="Job Name" value="">
  </md-input-container>
  <md-input-container class="md-icon-float md-block">
    <input mdInput placeholder="Category" value="">
  </md-input-container>
  <md-input-container class="md-icon-float md-block">

    <textarea mdInput placeholder="Description" value=""></textarea>
  </md-input-container>
  <md-input-container class="md-icon-float md-block">
    <input mdInput placeholder="Duration" value="">
  </md-input-container>
  <md-input-container class="md-icon-float md-block">
    <input mdInput placeholder="Hourly Fee" value="">
  </md-input-container>
  <md-datepicker #picker></md-datepicker>
  <md-input-container class="md-icon-float md-block">
    <button mdSuffix [mdDatepickerToggle]="picker"></button>
    <input mdInput [mdDatepicker]="picker" placeholder="Prefferd Date">

  </md-input-container>

  <md-input-container class="md-icon-float md-block">
    <input mdInput placeholder="Prefered Time" value="">
  </md-input-container>
  <md-input-container class="md-icon-float md-block">
    <input mdInput placeholder="Location" value="">
  </md-input-container>
  <label>Submit</label>
  <md-icon class="material-icons">done</md-icon>
  <label>Cancel</label>
  <md-icon class="material-icons">cancel</md-icon>
</form>
</body>

</html>
